<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAINERY- Lets predict rain</title>
    <link rel="icon" href="../static/logo.png" />
    <link rel="stylesheet" href={{url_for('static',filename='style2.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">RAINERY- Lets predict rain</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About Rainery</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>Plant Trees <br><span>Save Rain</span></h2>
          <p> "Plant trees to bring the rains and get rid of the summer's heat.” - Trees help reduce and moderate the temperature and climate, which is why it is so important that we have more of them</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
       <div class="media-icons">
        <a href="https://www.linkedin.com/in/himank-jain/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Himank-J"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/itsme_himank09/?hl=en"><i class="fab fa-instagram"></i></a>
      </div>
      
    </section>

    <section id="about">
      <h2>About Rainery</h2>
      <p class="about-content" style="text-align: justify;">Rainery is a web app which can be used to make short-term rainfall prediction.
      Rainfall Prediction is the application of science and technology to predict the amount of rainfall over a region. Rainery has 
      a Machine Learning model running at the back. The purpose of developing this app is to 
      <b>predict whether it will rain the next day or not</b>. This model is based on the Rain Prediction
      in Australia dataset. Rainfall forecasting is very important because heavy and irregular rainfall can have many impacts like destruction 
      of crops and farms, damage of property so a better forecasting model is essential for an early warning that can minimize risks to life 
      and property and also managing the agricultural farms in better way. This prediction mainly helps farmers and also water resources can be 
      utilized efficiently. Rainfall prediction is helpful to avoid flood which save lives and properties of humans. Moreover, it helps in managing 
      resources of water. Information of rainfall in prior helps farmers to manage their crops better which result in growth of country’s economy. 
      Fluctuation in rainfall timing and its quantity makes rainfall prediction a challenging task for meteorological scientists. In all the services 
      provided by meteorological department, Weather forecasting stands out on top for all the countries across the globe. The task is very complex 
      as it requires numbers of specialized and also all calls are made without any certainty.<br> 
      <br>
      <h3 class="about-content" style="text-align: justify;margin: 0;">Role of Machine Learning</h3>
      <p class="about-content" style="text-align: justify;margin: 0;">This is where machine learning steps in. With the help of machine learning, the complexity of such task can        be reduced effectively and efficiency of prediction task can be increased greatly. The results generated by this web app is an output of the machine learning           model used by Rainery.
      The machine learning models deeply understands the dataset provided and learns from it. Whenever user enters the data in predictor form, that data is 
      analysed from the model learnings in order to generate accurate result.<br>
      <strong>Select the Predictor tab above to start predicting.</strong> </p>
      </p>
    </section>

    <footer>
      <p>
         Developed with ❤️ by Himank
      </p> 
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/himank-jain/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Himank-J"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/itsme_himank09/?hl=en"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

  </body>
</html>
